class <%= migration_class_name %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :users do |t|
      t.string :auth_identifier, null: false
      t.string :email, null: false
      t.string :first_name
      t.string :last_name
      t.boolean :email_verified, default: false, null: false
<% custom_attributes.each do |attribute| -%>
<% unless attribute.virtual? -%>
      t.<%= attribute.type %> :<%= attribute.name %><%= attribute.inject_options %>
<% end -%>
<% end -%>

      t.timestamps
    end

    add_index :users, :auth_identifier, unique: true
    add_index :users, :email, unique: true
  end
end
